@import '../../main_style.scss';

.panel {
  font-family: $textFont;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 42px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $tablet) {
    padding: 42px 28px;
  }

  &-wrapper {
    width: 100%;
  }

  &-blue {
    background: $dark;
    color: $white;
  }

  &-red {
    background: $red;
    color: $white;
  }

  &-columns {
    
    @media only screen and (min-width: $tablet) {
      flex-wrap: wrap;
      max-height: 450px;
      padding-bottom: 0;
    }

    @media only screen and (min-width: $desktop) {
      position: relative;
      flex-direction: row;
      max-height: 450px;
      padding-bottom: 42px;
    }
  }
}
