@import '../../main_style.scss';

.panel-image {
  font-family: $textFont;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @media only screen and (min-width: $tablet) {
    height: 284px;
    flex-wrap: wrap;
    padding: 42px 28px;
  }

  &__content-wrapper {
    width: 100%;
    padding: 28px 14px;
    text-align: center;
  }
}
