@import '../../main_style.scss';

.column {
  width: 100%;
  box-sizing: border-box;
  background-color: none;

  
  @media only screen and (min-width: $tablet) {
    width: 50%;
  }

  @media only screen and (min-width: $desktop) {    
      padding: 56px;

      p {
        margin: 0;
      }
  }

}
