@import '../../main_style.scss';

.paragraph {
  max-width: 570px;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 28px;

  @media only screen and (min-width: $tablet) {
    margin-bottom: 40px;
  }
}
