@import '../../main_style.scss';

.header {
  background: $dark;
  color: $white;
  height: 75px;

  &-content {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 7px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (min-width: $tablet) {
      padding: 0 14px;
    }

    .logo {
      font-family: $title2Font;
      font-weight: 700;
      font-size: 26px;
      width: 260px;
      margin: 0;
      z-index: 10;

      @media only screen and (min-width: $tablet) {
        font-size: 28px;
        width: 330px;
      }
    }
  }
}
