@import '../../main_style.scss';

.header {
  background: $dark;
  color: $white;
  height: 60px;

  @media only screen and (min-width: $desktop) {
    height: 75px;
  }


  &-content {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-family: $title2Font;
      font-family: $titleFont;
      font-weight: 400;
      font-size: 22px;
      width: 200px;
      margin: 0;
      z-index: 10;

      @media only screen and (min-width: $tablet) {
        font-size: 28px;
        width: 400px;
      }
    }
  }
}
