@import '../../main_style.scss';

.phone {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;

  &-wrapper {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;

    @media only screen and (min-width: $desktop) {
      right: 10px;
    }

    @media only screen and (min-width: $maxWidth) {
      right: calc((100vw - 1400)/2 - 50px);
    }

    svg {
      pointer-events: none;
    }
  }
}
