@import '../../main_style.scss';

.footer {
  background: $dark;
  color: $blue;
  font-family: $textFont;
  width: 100%;
  height: 80px;


  &-content {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-text {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 64px;
    font-size: 18px;
    line-height: 20px;

    &__arrow {
      height: 21px;
      margin-left: 14px;
    }
  }
}
