@import '../../main_style.scss';

.phone {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 28px;
  background: $orange;
  color: $dark;
  color: $white;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;

  &:hover {
    color: $orange;
    background: $white;
  }

  @media only screen and (min-width: $tablet) {
    margin: 0;
  }
}
