@import '../../main_style.scss';

.phone {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 28px;
  background: $orange;
  color: $dark;
  color: $white;
  padding: 20px;
  width: 307px;

  &:hover { 
    color: $orange;
    background: $white;
  }
}
