$red: #BF5D4C;
$dark: #101727;
$orange: #FF611D;
$white: #FFF;
$blue: #CCCFD3;

$tablet: 768px;
$desktop: 1280px;
$maxWidth: 1400px;
$titleFont: 'Roboto Condensed', sans-serif;
$title2Font: 'Roboto Slab', serif;
$textFont: 'Roboto', sans-serif;
