// $dark: #24232D;
// $dark: #102542;
// $dark: #23242F;
$dark: #191e32;
$orange: #ff6505;
$red: #BF5D4C;
// $blue: #8DAFB9;
$blue: #37AEC2;
$white: #F9F9FA;
$tablet: 768px;
$desktop: 1280px;
$maxWidth: 1440px;
$titleFont: 'Roboto Condensed', sans-serif;
$title2Font: 'Roboto Slab', serif;
$textFont: 'Roboto', sans-serif;
